public/data/l2_chunks/*.geojson filter=lfs diff=lfs merge=lfs -text
public/data/grid_l1.geojson filter=lfs diff=lfs merge=lfs -text
public/data/admin1_ne10m.geojson filter=lfs diff=lfs merge=lfs -text
